
body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #efefef;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url(../imgs/darkwoods.jpg);
  background-size: cover;
}

section p:empty {
  display: none;
}

section h1:empty {
  display: none;
}

nav {
  height: 50px;
}

nav li {
  display: block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-top: .1em solid white;
}

nav a {
  text-decoration: none;
  color: #efefef;
}

.about-content {
  text-shadow: 2px 2px black;
}

.work {
  display: none;
}

.skills {
  display: none;
}

.contact {
  display: none;
}

h2 {
  margin-top: 35px;
  font-size: 18px;
}

@media screen and (min-width: 760px) {

  main {
    background: rgba(0, 0, 0, 0.5);
  }

  .header-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  body {
    font-size: 18px;
  }

  nav li {
    display: inline;
    margin: 0px;
    border-top: none;
    background: none;
    padding-left: 35px;
    font-size: 22px;
  }

  .icon-menu {
    display: none;
  }

  .social-icons a {
    font-size: 1.5em;
  }

  .icon-github {
    text-decoration: none;
    color: #efefef;
  }

  #primary-nav {
    display:block!important;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
  }

  h1:not(.name-content h1) {
    font-size: 42px;
    margin-bottom: 30px;
    padding-top: 50px;
  }

  p {
    font-size: 20px;
  }

  .about-content {
    width: 620px;
    margin: 0 auto;
  }

  .work {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
  }

  .work-content {
    display: block;
    width: 620px;
    margin: 0 auto;
  }

  .work-content h2 {
    text-align: left;
    margin-left: 38px;
    font-size: 22px;
  }

  .work-content p {
    padding-bottom: 50px;
    text-align: left;
  }

  .skills {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
  }

  .skills-content {
    display: block;
    width: 620px;
    margin: 0 auto;
  }

  .contact {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
  }

  .contact-content {
    display: block;
    width: 620px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 1200px) {
  nav li {
    font-size: 24px;
  }

  h1:not(.name-content h1) {
    font-size: 42px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 22px;
  }

  .about-content {
    width: 860px;
    margin: 0 auto;
  }

  .work {
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
  }

  .work-content {
    display: block;
    width: 860px;
    margin: 0 auto;
  }

  .work-content h1 {
    margin-bottom: 30px;
  }

  .skills-content {
    width: 860px;
    margin: 0 auto;
  }

  .contact-content {
    width: 860px;
    margin: 0 auto;
  }

}
