body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #efefef;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: url(../imgs/dark-woods.jpg);
  background-size: cover;
}

nav {
  height: 50px;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #efefef;
}
