body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #efefef;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: url(../imgs/dark-woods.jpg);
  background-size: cover;
}

nav {
  height: 50px;
}

nav li {
  display: block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-top: .1em solid white;
}

.icon-menu {
  float: right;
}

#primary-nav {
  display: none;
}

nav a {
  text-decoration: none;
  color: #efefef;
}

@media screen and (min-width: 760px) {
  .header-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  main {
    width: 520px;
    margin: 0 auto;
  }
  .icon-menu {
    display: none;
  }

  nav li {
    display: inline;
    margin: 0px;
    border-top: none;
    background: none;
  }

  #primary-nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  main {
    width: 960px;
    margin: 0 auto;
  }

  .icon-menu {
    display: none;
  }

  nav li {
    display: inline;
    margin: 0px;
    border-top: none;
    background: none;
  }

  #primary-nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
  }
}
