.icon-menu {
  float: right;
}

i.fa.fa-bars::before {
  font-size: 28px;
}

.name-about {
  margin-top: 8em;
}

#primary-nav {
  display: none;
}

.hide {
  display: none;
}

.read-more-show {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
  font-size: 14px;
}

.read-more-hide {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
  font-size: 14px;
}
