.icon-menu {
  float: right;
}

.social-icons {
  padding: 10px;
  margin-top: 50px;
}

#primary-nav {
  display: none;
}

.hide {
  display: none;
}

.read-more-show {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
  font-size: 14px;
}

.read-more-hide {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
  font-size: 14px;
}
