
@media screen and (min-width: 760px) {
  main {
    background: rgba(0, 0, 0, 0.5);
    height:auto;
  }

  body {
    font-size: 1.25em;
  }

  nav li {
    display: inline;
    border-top: none;
    background: none;
    padding-left: 3%;
  }

  .name-about {
    margin-top: 35%;
  }

  h1.first-name {
    font-size: 2.5em;
    margin-top: -30%;
    height: .75em;
  }

  .social-icons {
    margin-top: 0%;
  }

  h1 {
    font-size: 2em;
    padding: 5%;
  }

  .icon-menu {
    display: none;
  }

  .social-icons a {
    font-size: 1.5em;
  }

  .icon-github {
    text-decoration: none;
    color: #efefef;
  }

  #primary-nav {
    display:block!important;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
  }


  section.about p {
    padding-bottom: 15%;
    text-align: center;
  }

  section.skills p {
    display: inline;
  }

  .section-content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
  }

  .section-content h2 {
    text-align: left;
    font-size: 1.5em;
  }

  .work {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
  }

  .skills {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
  }

  .contact {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  nav li {
    font-size: 1em;
  }

  p {
    font-size: 1.25em;
  }
}
