.name-content h1 {
  padding: 25px;
  font-size: 50px;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  color: #efefef;
}

.social-icons a {
  text-decoration: none;
  color: #efefef;
  font-size: 1.2em;
  margin: 5px;
}

.about-content p {
  line-height: 1.5em;
  padding: 35px;
}

.work-content h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
}

.work-content p {
  line-height: 1.5em;
  padding: 35px;
}

.skills-content h1 {
  /*margin-top: 25px;*/
  margin-bottom: 25px;
  font-size: 35px;
}

.skills-content p {
  line-height: 1.5em;
  padding: 35px;
}

.contact-content h1{
  /*margin-top: 25px;*/
  margin-bottom: 25px;
  font-size: 35px;
}

.contact-content p {
  line-height: 1.5em;
  padding: 35px;
}
