.name-content   h1 {
  padding: 25px;
  padding-bottom: 30px;
  font-size: 72px;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  color: #efefef;
}

.social-icons a {
  text-decoration: none;
  color: #efefef;
  font-size: 1.2em;
  margin: 5px;
}
