secton.about p {
  text-align: center;
}

.name-about {
  margin: 5%;
  margin-top: 35%;
}

.social-icons li {
  display: inline-block;
  color: #efefef;
}

.social-icons a {
  text-decoration: none;
  color: #efefef;
  font-size: 1.5em;
  margin: .5em;
}
